body{font-family:'Source Sans Pro', sans-serif, arial;min-width:320px;}
*:focus{outline-color:rgba(153, 26, 26, 1);}
h1, h2, h3, h4, h5, h6{letter-spacing:2px;font-weight:bold;}
p, td, address{font-size:1.2rem;}
.seperatorRed{width:100%;height:2px;background-color:#991a1a;}
.cookie-request{visibility:hidden;position:fixed;z-index:100;width:100%;text-align:center;background-color:rgba(153, 26, 26, 0.9);color:white;padding-top:6px;padding-bottom:6px;}
.cookie-request .cookie-text{vertical-align:middle;}
.cookie-request button{padding-top:3px;padding-bottom:3px;}
.custom-navbar{
    background-color:#181818;
    font-size:25px;
    background-image:url('../img/background/sony-fs7-footer.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:17% 58%;
}

@media (max-width:991.98px)
{
    .container {
        width: 100%;
        max-width: 100%;
    }
    .custom-navbar{
        background-size:974px auto
    }
}

.custom-navbar .dropdown-toggle {
    display: flex;
    align-items: center;
    width: auto;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color:rgba(255,255,255,.7);
}

.custom-navbar .dropdown-menu {
    font-size: 22px;
}


.custom-navbar .icon-down-open::before {
    font-size: 15px;
    vertical-align: 20%;
}

.navbar-dark .navbar-nav .nav-item .dropdown-toggle {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0);
    padding: 4px;
}

.custom-navbar .dropdown-menu .item-active {
    border-bottom:2px solid #991a1a;
}

.custom-navbar .navbar-toggler
{
    border-color:rgba(255,255,255,.2);
    padding:.6rem 1rem;
}
.custom-navbar .navbar-toggler:focus{outline-color:rgba(153, 26, 26, 1);}
.custom-navbar .navbar-toggler .navbar-toggler-icon{background-size:120%;}

@media (min-width:1350px){
    .custom-navbar .container{
        max-width:1300px;
    }
}

.navbar-dark .navbar-nav .nav-link .link-text{color:rgba(255,255,255,.7);border:2px solid rgb(255, 255, 255, 0);}
.navbar-dark .navbar-nav .link-text{padding:9px 7px 9px 7px;}

.navbar-dark .navbar-nav .active .link-text, .navbar-dark .navbar-nav .active .dropdown-toggle
{
    border-bottom:2px solid #991a1a;
}

.navbar-dark .navbar-nav .nav-item .link-text:hover,
.navbar-dark .navbar-nav .nav-item .dropdown-toggle:hover
{
    border:2px solid;
    color:white;
    border-radius:5px;
}
@media (max-width:991.98px)
{
    .custom-navbar {
        background-image: none;
        padding: 0;
    }

    .background-mobile {
        width: 100%;
        background-image:url('../img/background/sony-fs7-footer.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:17% 58%;    
        padding: 8px 16px 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    .navbar-dark .navbar-nav .link-text
    {
        padding:4px 4px 4px 4px;
        margin-top:1px;
        margin-bottom:1px;
    }
    .navbar .navbar-nav {
        padding-bottom:8px;
    }

    .navbar .navbar-collapse {
        border-top: 2px solid black;
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-dark .navbar-nav .dropdown-menu {
        margin-top: 10px;
    }
}
@media (max-width:767.98px){.navbar .navbar-brand img{height:100px;}
}
@media (max-width:575.98px){
    .navbar .navbar-brand img{
        height:80px;
    }
    .navbar .navbar-toggler{
        padding:8px 14px 8px 14px;
    }
    .navbar .navbar-toggler .navbar-toggler-icon{
        width:22px;height:22px;
    }
    .background-mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ---------------------------------------- */

.custom-camera-tent {
    background: linear-gradient(to bottom, #ffffff 0%, #dddddd 75%, #777777);
}

.custom-camera-tent .row-headline img {
    /* width: 100%; */
    max-width: 400px;
}

@media (max-width: 1200px) {
    .custom-camera-tent .row-headline img {max-width: 310px;}
}
@media (max-width:991.98px){
    .custom-camera-tent .row-headline img {max-width: 270px;}
}
@media (max-width:767.98px){
    .custom-camera-tent .row-headline img {max-width: 180px;}
}

.custom-camera-tent .row-headline h1 {
    text-align: center;
}

.custom-camera-tent .row-headline h2 {
    font-size: 1.8rem;
    color: #991a1a;
    text-align: center;
}

@media (max-width:991.98px){
    .custom-camera-tent .row-headline h1 {
        font-size: 2rem;
    }
    .custom-camera-tent .row-headline h2 {
        font-size: 1.5rem;
    }    
}

@media (max-width:767.98px){
    .custom-camera-tent .row-headline h1 {
        font-size: 1.8rem;
    }
    .custom-camera-tent .row-headline h2 {
        font-size: 1.3rem;
    }    
}





/* .custom-camera-tent .row-headline .custom-headline {
    min-height: 320px;
} */

.background-accordion {
    background-color: #181818;
    background-image:url('../img/camera_tent/background_2.JPG');
    /* background-size:cover; */
    background-repeat:no-repeat;
    background-position: center top;
}

.row-accordion, .row-accordion .btn {
    font-size: 1.2rem;
}

.row-accordion .btn {
    color: #991a1a;
    font-weight: bold;
    /* max-width: 100%; */
    white-space: normal;
}

@media (max-width:575.98px){
    .row-accordion .card .card-header h2 {
        display: flex;
        justify-content: center;
    }
    .row-accordion .btn {
        text-align: center;
    }
}

.row-accordion img {
    max-width: 500px;
    width: 100%;
}

.row-accordion .team-hover {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 900ms;
    transition-timing-function: ease-out;
}
.row-accordion .team-hover:hover {opacity: 100%;}

.row-tent-studio img {
    width: 100%;
    max-width: 960px;
}


/* ---------------------------------------- */

.footer-background{
    background-color:#181818;
    background-image:url('../img/background/sony-fs7-footer.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:17% 93%;
}
@media (max-width:429px){.footer-background{background-position:13% 100%;background-size:auto 685px;}
}
.custom-footer{color:white;}
@media (min-width:1350px){.custom-footer{max-width:1300px;}
}
.custom-footer h2{font-family:'Open Sans Condensed', sans-serif, arial;margin-top:15px;margin-bottom:14px;}
.custom-footer p, .custom-footer address{margin-bottom:5px;}
.custom-footer .follow-us p{margin-bottom:9px;word-spacing:4px;}
.custom-footer .follow-us span{margin-left:6px;}
.custom-footer .footer-logo img{min-width:270px;}
@media (max-width:991.98px){.custom-footer .footer-logo img{min-width:200px;width:200px;}
}
.custom-footer a{color:white;}
.custom-footer hr{background-color:white;}
.custom-contact a{color:#BB3737;}
noscript p{color:#BB3737;margin-bottom:4px;}
.copyright p{font-size:1rem;}
.webdesign{text-align:right;min-width:333px;}
@media (max-width:991.98px){.webdesign{min-width:304px;}
}
@media (max-width:767.98px){.webdesign{text-align:center;min-width:initial;}
}
@media (max-width:575.98px){.custom-footer h2{font-size:1.7rem;}
}
.webdesign p{font-size:1rem;margin-bottom:0;}