body{font-family:'Source Sans Pro', sans-serif, arial;min-width:320px;}
*:focus{outline-color:rgba(153, 26, 26, 1);}
h1, h2, h3, h4, h5, h6{letter-spacing:2px;font-weight:bold;}
p, td, address{font-size:1.2rem;}
.seperatorRed{width:100%;height:2px;background-color:#991a1a;}
.cookie-request{visibility:hidden;position:fixed;z-index:100;width:100%;text-align:center;background-color:rgba(153, 26, 26, 0.9);color:white;padding:6px 4px 6px 4px;}
.cookie-request .cookie-text{vertical-align:middle;}
.cookie-request button{padding-top:3px;padding-bottom:3px;margin-left:3px;}
.cookie-request .cookie-break{display:none;}
@media (max-width:1065px){.cookie-request .cookie-break{display:initial;}
.cookie-request button{margin-top:3px;}
}





.custom-navbar{
    background-color:#181818;
    font-size:25px;
    background-image:url('../img/background/sony-fs7-footer.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:17% 58%;
}

@media (max-width:991.98px)
{
    .container {
        width: 100%;
        max-width: 100%;
    }
    .custom-navbar{
        background-size:974px auto
    }
}

.custom-navbar .dropdown-toggle {
    display: flex;
    align-items: center;
    width: auto;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color:rgba(255,255,255,.7);
}

.custom-navbar .dropdown-menu {
    font-size: 22px;
}


.custom-navbar .icon-down-open::before {
    font-size: 15px;
    vertical-align: 20%;
}

.navbar-dark .navbar-nav .nav-item .dropdown-toggle {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0);
    padding: 4px;
}

.custom-navbar .dropdown-menu .item-active {
    border-bottom:2px solid #991a1a;
}

.custom-navbar .navbar-toggler
{
    border-color:rgba(255,255,255,.2);
    padding:.6rem 1rem;
}
.custom-navbar .navbar-toggler:focus{outline-color:rgba(153, 26, 26, 1);}
.custom-navbar .navbar-toggler .navbar-toggler-icon{background-size:120%;}

@media (min-width:1350px){
    .custom-navbar .container{
        max-width:1300px;
    }
}

.navbar-dark .navbar-nav .nav-link .link-text{color:rgba(255,255,255,.7);border:2px solid rgb(255, 255, 255, 0);}
.navbar-dark .navbar-nav .link-text{padding:9px 7px 9px 7px;}

.navbar-dark .navbar-nav .active .link-text, .navbar-dark .navbar-nav .active .dropdown-toggle
{
    border-bottom:2px solid #991a1a;
}

.navbar-dark .navbar-nav .nav-item .link-text:hover,
.navbar-dark .navbar-nav .nav-item .dropdown-toggle:hover
{
    border:2px solid;
    color:white;
    border-radius:5px;
}
@media (max-width:991.98px)
{
    .custom-navbar {
        background-image: none;
        padding: 0;
    }

    .background-mobile {
        width: 100%;
        background-image:url('../img/background/sony-fs7-footer.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:17% 58%;    
        padding: 8px 16px 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    .navbar-dark .navbar-nav .link-text
    {
        padding:4px 4px 4px 4px;
        margin-top:1px;
        margin-bottom:1px;
    }
    .navbar .navbar-nav {
        padding-bottom:8px;
    }

    .navbar .navbar-collapse {
        border-top: 2px solid black;
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-dark .navbar-nav .dropdown-menu {
        margin-top: 10px;
    }
}
@media (max-width:767.98px){.navbar .navbar-brand img{height:100px;}
}
@media (max-width:575.98px){
    .navbar .navbar-brand img{
        height:80px;
    }
    .navbar .navbar-toggler{
        padding:8px 14px 8px 14px;
    }
    .navbar .navbar-toggler .navbar-toggler-icon{
        width:22px;height:22px;
    }
    .background-mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
}






.custom-rw-logo-container{background:linear-gradient(to bottom, #ffffff 0%, #dddddd 75%, #777777);}
.custom-rw-logo-container .row{justify-content:center;}
.custom-rw-logo-container .image-scale{max-width:440px;margin:55px 12px 42px 12px;}
.custom-rw-logo-container .image-scale img{width:100%;}
@media (max-width:991.98px){.custom-rw-logo-container .image-scale{max-width:370px;margin-top:45px;margin-bottom:45px;}
}
@media (max-width:767.98px){.custom-rw-logo-container .image-scale{max-width:300px;margin-top:25px;margin-bottom:20px;}
}
@media (max-width:575.98px){.custom-rw-logo-container .image-scale{max-width:270px;margin:20px 10px 16px 10px;}
}
.camera-service-background{background-color:#181818;background-image:url('../img/background/camera-service.jpg');background-size:cover;background-position:83% 83%;background-repeat:no-repeat;}
.custom-camera-service{padding-bottom:50px;}
.custom-camera-service h1{color:white;margin-top:15px;margin-bottom:20px;text-align:center;}
.custom-camera-service .image-container{width:100%;height:600px;background-color:#181818;color:black;font-size:2.4rem;letter-spacing:1px;border:2px solid #bbbbbb;border-radius:4px;}
.custom-camera-service .image-container button{font-size:2rem;background-color:#991a1a;border-color:#991a1a;}
.custom-camera-service .image-container button:hover{background-color:#BB3737;}
.custom-camera-service .image-container-cameraService{background-image:url('../img/main-page/Filmgeraeteverleih-Background.jpg');background-size:auto 100%;background-position:3%;background-repeat:no-repeat;}
.custom-camera-service .image-container-equipmentRental{background-image:url('../img/main-page/Kamera-Service-Background.jpg');background-size:auto 100%;background-position:57%;background-repeat:no-repeat;}
@media (max-width:1199.98px){.custom-camera-service .image-container{height:500px;}
}
@media (max-width:991.98px){.custom-camera-service h1{font-size:2rem;}
.custom-camera-service .image-container{height:450px;}
}
@media (max-width:767.98px){.custom-camera-service .image-container{height:230px;}
.custom-camera-service .image-container-cameraService{background-size:cover;}
.custom-camera-service .image-container-equipmentRental{background-size:cover;}
.custom-camera-service .image-container button{font-size:1.8rem;}
}
@media (max-width:575.98px){.custom-camera-service h1{font-size:1.7rem;margin-top:10px;margin-bottom:15px;}
.custom-camera-service .image-container{height:190px;}
.custom-camera-service .image-container button{font-size:1.5rem;}
}
.carousel-background{background:linear-gradient(to bottom, #ffffff 0%, #dddddd 75%, #777777);margin-bottom:-1px;}
.bts-headline h2{font-size:2.5rem;margin-top:15px;margin-bottom:20px;}
@media (max-width:991.98px){.bts-headline h2{font-size:2rem;}
}
@media (max-width:575.98px){.bts-headline h2{font-size:1.7rem;margin-top:10px;margin-bottom:15px;}
}
#carouselMain{max-width:1000px;margin:0 auto;padding-left:15px;padding-right:15px;}
#carouselMain .carousel-inner .carousel-item{transition-duration:2s;}
.carousel .carousel-inner .carousel-item .carousel-caption{bottom:4%;padding:0;}
.carousel .carousel-inner .carousel-item .carousel-caption h4{font-size:1.2rem;margin:0;}
.carousel .carousel-inner .carousel-item .carousel-caption .carousel-text-bg{display:inline-block;background-color:rgba(0, 0, 0, 0.6);padding:1px 5px 1px 5px;}
@media (max-width:1014px){.carousel .carousel-inner .carousel-item .carousel-caption h4{font-size:1.9vw;}
}
.instagram{margin-top:51px;padding-bottom:54px;text-align:center;}
.instagram button{margin-top:5px;font-size:1.6rem;background-color:#991a1a;border-color:#991a1a;}
.instagram button:hover{background-color:#BB3737;}
@media (max-width:767.98px){.instagram{margin-top:35px;padding-bottom:37px;}
.instagram h3{font-size:1.6rem;}
.instagram button{font-size:1.4rem;margin-top:3px;}
}
@media (max-width:575.98px){.instagram{margin-top:25px;padding-bottom:27px;}
.instagram h3{font-size:1.4rem;}
.instagram button{font-size:1.2rem;margin-top:2px;}
}
.footer-background{background-color:#181818;background-image:url('../img/background/sony-fs7-footer.jpg');background-size:cover;background-repeat:no-repeat;background-position:17% 93%;}
@media (max-width:429px){.footer-background{background-position:13% 100%;background-size:auto 700px;}
}
.custom-footer{color:white;}
@media (min-width:1350px){.custom-footer{max-width:1300px;}
}
.custom-footer h2{font-family:'Open Sans Condensed', sans-serif, arial;margin-top:15px;margin-bottom:14px;}
.custom-footer p, .custom-footer address{margin-bottom:5px;}
.custom-footer .follow-us p{margin-bottom:9px;word-spacing:4px;}
.custom-footer .follow-us span{margin-left:6px;}
.custom-footer .footer-logo img{min-width:270px;}
@media (max-width:991.98px){.custom-footer .footer-logo img{min-width:200px;width:200px;}
}
.custom-footer a{color:white;}
.custom-footer hr{background-color:white;}
.custom-contact a{color:#BB3737;}
noscript p{color:#BB3737;margin-bottom:4px;}
.copyright p{font-size:1rem;}
.webdesign{text-align:right;min-width:333px;}
@media (max-width:991.98px){.webdesign{min-width:304px;}
}
@media (max-width:767.98px){.webdesign{text-align:center;min-width:initial;}
}
@media (max-width:575.98px){.custom-footer h2{font-size:1.7rem;}
}
.webdesign p{font-size:1rem;margin-bottom:0;}